* {
	font-family: 'Roboto Slab', serif;
}

body > header img,
body > footer {
	display: none;
}

/* Remove borders on accordion elements */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-content,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: none;
}

/* Add border to accordion headers */

#accordion h3 {
	border-bottom: solid 1pt #333;
}

/* Display all accordion contents */

.ui-accordion .ui-accordion-content {
	display: block !important;
}

/* Size images accordingly */

img.screenshot {
	max-height: 1.5in;
}